// override the built-in stylesheet
.layout-content.status.status-index .unresolved-incidents .unresolved-incident .updates {
  border-width: 0px;
  padding: 0;

  .update {
    margin-bottom: 0;
  }
}

.layout-content.status.status-index .unresolved-incidents {
    .unresolved-incident {
      @include incident-card;
    }

    .unresolved-incident.impact-none {
        .incident-title {
             background-color: $impact-none;
        }
        .incident-details {
            border-color: $impact-none;
        }
    }

    .unresolved-incident.impact-minor {
        .incident-title {
             background-color: $impact-minor;

             a {
               color: $rax-text;
             }
        }
        .incident-details {
            border: none;
        }
    }
    .unresolved-incident.impact-major {
        .incident-title {
             background-color: $impact-major;
        }
        .incident-details {
            border-color: $impact-major;
        }
    }
    .unresolved-incident.impact-critical {
        .incident-title {
             background-color: $impact-critical;
        }
        .incident-details {
            border-color: $impact-critical;
        }
    }
}

.status-day.no-incidents {
    display: none;
}

.unresolved-incidents {
    h4 {
    margin-bottom: 1em;
    }
}

.unresolved-incident {
  .incident-details {
    border: none;

    .components, .updates {
      h5 {
        background: shade($white, 10%);
        font-size: 0.8rem;
        margin: 0;
        padding: 0 1.25rem;
        text-transform: uppercase;
      }

      .list {
        padding: 1.25rem;
      }
    }

    .updates {
      border: none;

      .list {
        padding: 0;

        .update {
          margin: 0;
          padding: 20px 1.25rem;

          &:not(:last-child) {
            border-bottom: solid 1px shade($white, 10%);
          }
        }
      }
    }
  }
}

.layout-content.status.status-index .incidents-list {
    $impact-none-faded: tint($impact-none, 0%);
    $impact-minor-faded: tint($impact-minor, 0%);
    $impact-major-faded: tint($impact-major, 0%);
    $impact-critical-faded: tint($impact-critical, 0%);


    .incident-container {
      @include incident-card();
      margin-bottom: 3rem;
    }

    .incident-title {
        padding: 0.75rem 1.25rem;

        &.impact-none {
          background: $impact-none-faded;

          a {
            color: $white;
          }

          & + .updates-container {
            border: none;
          }
        }
        &.impact-minor {
          background: $impact-minor-faded;

          a {
            color: tint($black, 10%);
          }

          & + .updates-container {
            border: none;
          }
        }
        &.impact-major {
          background: $impact-major-faded;

          a {
            color: $white;
          }

          & + .updates-container {
            border: none;
          }
        }
        &.impact-critical {
          background: $impact-critical-faded;

          a {
            color: $white;
          }

          & + .updates-container {
            border: none;
          }
        }
    }

    .updates-container {
      border-style: solid;
      border-width: 1px;
      border-top-width: 0;

      .update {
        margin: 0;
        padding: 1.25rem;

        &:not(:last-child) {
          border-bottom: solid 1px shade($white, 10%);
        }
      }
    }
}


.layout-content.status.status-incident > .container {
  @include incident-card();
  @include centered-container(960px);
  margin-top: 80px;
  margin-bottom: 80px;

  .page-title {
    margin-bottom: 0;
  }

  .incident-name {
    padding: 0.75rem 1.25rem;

    &.impact-none {
      background: $impact-none;
      color: $white;
    }

    &.impact-minor {
      background: $impact-minor;
      color: $rax-text;
    }

    &.impact-major {
      background: $impact-major;
      color: $white;
    }

    &.impact-critical {
      background: $impact-critical;
      color: $white;
    }
  }

  .subheader {
    display: none;
  }

  hr {
    display: none;
  }

  .update-row {
    border-bottom: solid 1px shade($white, 10%);
    margin-bottom: 0;
    padding: 1.5rem 1.25rem;
  }

  .update-title {
    color: tint($black, 67%);
    float: none;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .update-container {
    width: 95.5%;
  }

  .components-affected {
    border: none;
    padding: 1.5rem 1.25rem;
  }

  .page-footer {
    background: shade($white, 5%);
    margin-top: 0;
    padding: 0.75rem 1.25rem
  }
}
