// override the built-in stylesheet
.layout-content.status.status-index .unresolved-incidents .unresolved-incident .updates {
  border-width: 0px;
  padding: 0;

  .update {
    margin-bottom: 0;
  }
}

.layout-content.status.status-index .status-day .update-title.impact-major a, .layout-content.status.status-index .status-day .update-title.impact-major a:hover, .layout-content.status.status-index .page-status.status-major, .layout-content.status.status-index .unresolved-incident.impact-major .incident-title {
  background-color: $rax-red;
}

.layout-content.status.status-index .unresolved-incident.impact-major .updates {
  border-color: $rax-red;
}

.status-day.no-incidents {
    display: none;
}

.unresolved-incidents {
    h4 {
    margin-bottom: 1em;
    }
}

.unresolved-incident {
  .incident-details {
    border-style: solid;
    border-width: 0px 1px 1px 1px;

    .components, .updates {
      h5 {
        background: shade($white, 10%);
        font-size: 0.8rem;
        margin: 0;
        padding: 0 1.25rem;
        text-transform: uppercase;
      }

      .list {
        padding: 1.25rem;
      }
    }

    .updates {
      border: none;

      .list {
        padding: 0;

        .update {
          margin: 0;
          padding: 20px 1.25rem;

          &:not(:last-child) {
            border-bottom: solid 1px shade($white, 10%);
          }
        }
      }
    }
  }

  &.impact-major .incident-details {
    border-color: $rax-red;
  }

  &.impact-minor .incident-details {
    border-color: $status-degraded;
  }
}
