.light, .component-status {
  background: shade($white, 10%);
  border-radius: 6px;
  display: inline-block;
  height: 12px;
  margin-right: 0.25em;
  overflow: hidden;
  text-indent: -9999px;
  width: 12px;

  &.major_outage {
    background-image: radial-gradient(tint($rax-red, 30%), $rax-red);
    box-shadow: 0px 0px 4px tint($rax-red, 10%);
  }

  &.partial_outage {
    background-image: radial-gradient(tint($status-minor, 30%), $status-minor);
    box-shadow: 0px 0px 4px tint($status-minor, 10%);
  }

  &.degraded_performance {
    background-image: radial-gradient(tint($status-degraded, 30%), $status-degraded);
    box-shadow: 0px 0px 4px tint($status-degraded, 10%);
  }
  &.operational {
    background-image: radial-gradient(tint($status-operational, 30%), $status-operational);
    box-shadow: 0px 0px 4px tint($status-operational, 10%);
  }
}
