.modal.maintenance-policy {
    .modal-header {
        .close {
            font-size: 24px;
            height: 32px;
            line-height: 32px;
            position: absolute;
            right: 0;
            text-align: center;
            top: 0;
            width: 32px;
        }
    }

    .text-center {
        text-align: center;
    }
}
