// override SP styles
.layout-content.status.status-index .components-section .component-container {
  .component-status {
    float: none;
  }

  .name {
    padding-left: 3px;
  }

  &.is-group.open>.component-inner-container .component-status {
    display: inline-block;
  }
}

.component-status {
    @include status-light();
}

.status-green .component-status {
  @include status-light('operational');
}

.status-yellow .component-status {
    @include status-light('degraded');
}

.status-orange .component-status {
    @include status-light('minor');
}

.status-red .component-status {
    @include status-light('major');
}
