<script type="text/template" id="status-banner-template">
<% if (obj.status.indicator === 'none') { %>
    <div class="rax-banner enter <%= obj.status.indicator %>">
        <h1><%= obj.status.description %></h1>
    </div>
<% } /* endif */ %>
<div class="container">
  <div class="rax-temporary-alert">
    <div class="heading">
      <h3>Welcome to the preview of the new Rackspace status page</h3>
      <p>This page is a preview of the new Rackspace status page launching in 2016. Please note that this page is still in development, and it ​<strong>should not be used to track the status of Rackspace services</strong>. Until this page is officially launched, please continue to use <a href="https://status.rackspace.com">https://status.rackspace.com</a> to view and monitor the latest status for Rackspace services.</p>
    </div>
  </div>
</div>

</script>
