body {
    font-family: 'Open Sans', sans-serif;
}

body * {
    -webkit-font-smoothing: antialiased;
}

.status-index .container {
    display: none;
    max-width: 960px;

    &.show {
        display: block;
    }
}

.status-index .page-status {
  display: none;
}


.container {
  @include centered-container(960px);
}
