<script type="text/template" id="incident-details">
    <div class="incident-details">
        <div class="components">
            <h5>Affected Components</h5>
            <div class="list">
                <div class="component">
                    <strong>Loading Affected Components&hellip;</strong>
                </div>
            </div>
        </div>
        <div class="updates">
            <h5>Updates</h5>
            <div class="list"></div>
        </div>
    </div>
</script>

<script type="text/template" id="incident-components">
    <% _(obj.components).forEach(function (component, index, scope) { %>
    <div class="component">
      <span class="light <%= component.status %>"></span>
      <strong><%= component.name %></strong>
    </div>
    <% }); %>
</script>
